%h2 Stock Trends 

%table{ class: %w[table table-primary table-striped] }
    %thead
        %tr{ class: %w[table-primary]}
            %th Name
            %th Symbol
            %th Price
            %th Percent Change
    %tbody
        - @companies.each do |cmp|
            %tr{ class: %w[table-primary]}
                %td{ class: %w[table-primary]}= cmp.name
                %td{ class: %w[table-primary]}= cmp.ticker    
                %td{ class: %w[table-primary]}= cmp.latest_price
                %td{ class: %w[table-primary]}= number_to_percent(cmp.get_change_percent)