%h2 Top and Bottom Companies

%table
    %thead
        %tr
            %th Name
            %th Symbol
            %th Price
            %th Percent Change
    %tbody
        - @companies.each do |cmp|
            %tr
                %td= cmp.name
                %td= cmp.ticker    
                %td= cmp.latest_price
                %td= cmp.previous_close