%h2 Companies

%table
    %thead
        %tr
            %th Name
            %th Symbol
            %th Price
            %th Percent Change
    %tbody
        - @companies.each do |cmp|
            %tr
                %td= cmp.name
                %td= cmp.ticker    
                %td= 300 #PriceService.fetch_quote(cmp.ticker).output["Global Quote"]["05. price"]
                %td= "10%" #PriceService.fetch_quote(cmp.ticker).output["Global Quote"]["10. change percent"]