@import 'bootstrap';
@import 'base';

// Import different views scss
@import 'errors/403';
@import 'forms';

.body {
    padding: 0;
}

.body-container, .sidebar-container, .sidebar, .main-container {
    height: 100vh;
    overflow-y: scroll;

    a {
        color: $white-font;
    }
}

.sidebar {
    background-color: $nav-bg;
    color: $white-font;

    .logo-nav {
        width: 100%;
    }

    .dropdown-account {
        width: 100%; 
        margin-left: 24px !important;
    }

    .role-navbar {
        text-align: left !important;
    }

    .nav-item {
        text-align: left;

        .nav-link {
            padding-left: 32px;
        }
    }
}